//! **************************************************************************
// Written by: Map P.20131013 on Thu May 24 00:22:44 2018
//! **************************************************************************

SCHEMATIC START;
COMP "RS" LOCATE = SITE "L17" LEVEL 1;
COMP "RW" LOCATE = SITE "K12" LEVEL 1;
COMP "RX" LOCATE = SITE "M13" LEVEL 1;
COMP "TX" LOCATE = SITE "G15" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "ENA" LOCATE = SITE "L15" LEVEL 1;
COMP "TX_PRINCIPAL" LOCATE = SITE "P9" LEVEL 1;
COMP "DATA_LCD<0>" LOCATE = SITE "M16" LEVEL 1;
COMP "DATA_LCD<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "DATA_LCD<2>" LOCATE = SITE "L16" LEVEL 1;
COMP "DATA_LCD<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "VIN<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "VIN<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "VIN<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "VIN<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "VIN<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "VIN<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "RX_PRINCIPAL" LOCATE = SITE "U6" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

