//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 01 08:21:24 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Vin" LOCATE = SITE "L15" LEVEL 1;
COMP "Vout" LOCATE = SITE "J14" LEVEL 1;
SCHEMATIC END;

